body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/res/background.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 80%;
  height: 100vh;
}

.picture {
  border-radius: 25px;
}

img {
  border-radius: 25px;
  height: 150px;
  width: 200px;
}

.info {
  font-family: "Open sans";
}

h2 {  
  font-weight: bold;
}

button {
  width: 80px;
}

.displayPrice {
  font-family: "dancing script"
}
